.h1, .h2, .h3, h1, h2, h3 {
    margin: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar .navbar-body {
    margin: 0px auto;
    width: 1000px;
    height: 100%;
    margin-bottom: -20px;
}
.navbar .navbar-body .navbar-img {
    float: left;
    width: 30% !important;
}
.navbar .navbar-body .navbar-img .imglogo {
    width: 100%;
    max-width: 120px;
}
.navbar .navbar-body .navbar-nav {
    width: 70% !important;
}
.navbar .navbar-body .navbar-nav a {
    padding: 5px;
}
.navbar .navbar-body .navbar-nav a i{
    padding: 7px;
    border-color: black;
    border: 1px solid;
    border-radius: 50px;
}
.navbar .navbar-body ul a{
    cursor: pointer;
}
.navbar .navbar-body .navbar-nav .nav-item .nav-link{
    padding: 10px;
}

#home #sectionhome {
    position: relative;
    height: 100%;
    margin-top: 70px;
}
#home #sectionhome .homeimg {
  
}
#home #sectionhome img {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
#home #sectionhome .homeimg img {
    position: absolute;
    width: 100%;
    top: 0px;
}
.sosmed {
    position: fixed;
    display: grid;
    font-size: 13px;
    margin: 150px 0px 0px 45px;
    z-index: 99;
}
.sosmed a:nth-child(1) {
    color: #E4405F;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
}
.sosmed a:nth-child(2) {
    color: #3b5999;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
}
.sosmed a:nth-child(3) {
    color: #55acee;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
}
.sosmed a:nth-child(4) {
    color: #cd201f;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    padding: 8px;
}

._section {
    width: 100%;
    position: relative;
}
._section ._container{
    width: 100%;
    margin: 0px auto;
    position: relative;
    display: table;
}
._section ._container-type-1 {   
    max-width: 1000px;
}
._section ._container-type-2 {
    max-width: 700px;
}
._section ._container-type-3 {
    max-width: 1020px;
}
._section ._background-abu {
    background-color: #efefef;
}
._img-full-width {
    width: 100%;
    position: relative;
}
#about ._section ._container ._img-slider img {
    position: absolute;
    border-radius: 50px;
}
._section ._img-slider img:nth-child(3) {
    z-index: 900;
    left: 300%;
    width: 150px;
}
._section ._img-slider img:nth-child(2) {
    z-index: 700;
    left: 230%;
}
._section ._img-slider img:nth-child(4) {
    z-index: 700;
    left: 390%;
}
._section ._img-slider img:nth-child(1) {
    z-index: 500;
    left: 150%;
}
._section ._img-slider img:nth-child(5) {
    z-index: 500;
    left: 470%;
}

#home ._section ._background-tentang {
    background-image: url(../images/penyu.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 500px;
}
#home ._section:nth-child(3) .content:nth-child(3) {
    width: 100%;
}
#home ._section:nth-child(5) .row .col-sm-6 .imgcontent{
    background-color: #efefef;
    width: 700px;
}
#home ._section .classificationimg .classificationimgsmall {
    position: relative;
    text-align: center;
}
#home ._section:nth-child(3) ._container {
    margin-top: 70px;
}
#home ._section:nth-child(3) ._container ._grid-12:nth-child(1) p {
    margin-top: 30px;
    margin-bottom: 80px;
}
#home ._section:nth-child(3) ._container ._grid-12:nth-child(3) {
    margin-top: 30px;
}
#home ._section:nth-child(3) ._container ._grid-12:nth-child(3) p {
    margin-top: 30px;
}
#home ._section:nth-child(4) ._container ._grid-6 {
    margin-top: 300px;
}
#home ._section:nth-child(4) ._container ._grid-6 p {
    margin-top: 30px;
}
#home ._section:nth-child(4) ._container ._grid-6:nth-child(2) {
    margin-top: 150px;
}
#home ._section:nth-child(5) ._container {
    margin-top: 115px;
}
#home ._section:nth-child(5) ._container ._grid-6 img {
    width: 700px;
}
#home ._section:nth-child(5) ._container ._grid-6:nth-child(2) p {
    margin-top: 30px;
}
#home ._section:nth-child(6) ._container {
    margin-top: 60px;
}
#home ._section:nth-child(6) ._container ._grid-12 p {
    margin-top: 30px;
    margin-bottom: 35px;
}
#home ._section:nth-child(8) ._container {
    padding-bottom: 85px;
}
#home ._section:nth-child(8) ._container h1 {
    margin-top: 60px;
    margin-bottom: 75px;
}
#home ._section:nth-child(8) {
    background-color: #efefef;
}
#home ._section:nth-child(8) ._container ._grid-6 ._img-slider .item {
    position: absolute;
    width: 400px;
}
#home ._section:nth-child(8) ._container ._grid-6 ._img-slider {
    margin-left: 0px;
}
#home ._section:nth-child(9) ._container {
    margin-top: 115px;
}
#home ._section:nth-child(9) ._container ._grid-12 p {
    margin-top: 30px;
    margin-bottom: 70px;
}
#home ._section:nth-child(8) ._container ._grid-6:nth-child(3) .galleryvideo ._pad-vid {
    width:500px; 
    height:330px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all ._img-grid {
    position: relative;
    height: 115px;
}
._img-fakta {
    background-image: url(../images/fakta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
._img-jenis {
    background-image: url(../images/jenis.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}
._pad-img {
    padding: 20px 0px;
}

#about ._section ._container ._grid-12 {
    margin-top: 105px;
}
#about ._section ._container ._grid-12 h1:nth-child(2) {
    padding-top: 16px;
    padding-bottom: 16px;
}
#about ._section ._container ._grid-12 img {
    margin-top: 0px;
}
#about ._section:nth-child(2) ._container ._grid-12 p {
    margin-top: 35px;
}
#about ._section:nth-child(3) ._container ._grid-12 {
    margin-top: 50px;
}
#about ._section:nth-child(3) ._container ._grid-12 ._pad-text {
    padding-top: 50px;
    padding-bottom: 30px;
}
#about ._section:nth-child(3) ._container ._grid-12 ._pad-text-1 {
    padding: 35px;
}
#about ._section:nth-child(4) ._container {
    margin-top: 80px;
    margin-bottom: 215px;
}
#about ._section:nth-child(4) ._container p {
    margin-top: 30px;
}
#about ._section:nth-child(4) ._container ._img-slider {
    position: relative;
    margin-left: -60px;
    width: 123px;
    margin-top: 50px;
}
#about ._section:nth-child(4) ._container ._slider-5-image {
    height: 140px;
}
#about ._section:nth-child(4) ._container p:nth-child(4) {
    margin-top: 35px;
}

#location ._section ._container {
    margin-top: 45px;
    margin-bottom: 50px;
}
#location ._section ._container ._pad-text ._grid-7 p {
    margin-top: .5em !important;
}
#location ._section ._container ._pad-text {
    padding-top: 30px;
}
#location ._section ._container ._pad-text button {
    background-color: white;
    color: black;
    border: 2px solid #515151;
    border-radius: 20px;
    padding: 5px 45px;
}
#location ._section:nth-child(4) ._container {
    margin-bottom: 60px;
}

#location-conservation ._section ._container {
    margin-bottom: 75px;
}
#location-conservation ._section ._container img {
    width: 443px;
}
#location-conservation ._section ._container ._pad-text-1 {
    margin-top: -20px;
    padding-left: 53px;
}
#location-conservation ._section ._container ._pad-text-2 {
    margin-top: -20px;
    padding-right: 53px;
}
#location-conservation ._section:nth-child(4) ._container p {
    margin-top: 30px;
}

#detail-conservation ._section ._container ._grid-12 {
    padding-top: 20px;
}
#detail-conservation ._section ._container ._grid-12 a {
    color: black;
}
#detail-conservation ._section ._container ._grid-12 a ._grid-2 {
    line-height: 1.2;
}
#detail-conservation ._section ._container ._grid-12 a ._border-right {
    border-right: 1px solid #cccccc;
    height: 30px;
}
#detail-conservation ._section:nth-child(2) ._container {
    position: relative;
    margin-bottom: 80px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all ._border-top {
    position: relative;
    padding: 40px 0px 30px 40px;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    margin-top: 55px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all ._border-bottom {
    position: relative;
    padding: 40px 0px 190px 40px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all ._img-grid {
    position: relative;
    height: 384px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all ._img-grid img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all:nth-child(3) ._pad-text ._img-grid-all {
    position: relative; 
    height: 0px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all:nth-child(3) ._pad-text ._img-grid-all img {
    position: relative;
    width: 120px;
    top: -80px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all ._text-slider {
    position: relative;
    background-color: #5a5a5a;
    color: #cccccc;
    padding: 35px 30px;
}
#detail-conservation ._section:nth-child(2) ._container ._pad-all:nth-child(3) ._border-top ._text-img ._grid-6:nth-child(2) {
    margin-top: 10px;
}
#detail-conservation ._section ._container ._pad-all ._border-top ._text-detail {
    margin-top: 50px;
    height: 92px;
}
#detail-conservation ._section ._container ._pad-all ._border-top ._text-detail:nth-child(3) {
    margin-top: 60px;
} 
#detail-conservation ._section ._container ._pad-all ._border-top h3:nth-child(4) {
    padding-top: 25px;
}
#detail-conservation ._section ._container ._pad-all ._border-top ._text-img {
    margin-top: 70px;
    height: 430px;
}
#detail-conservation ._section ._container ._pad-all ._border-top ._text-img ._grid-6 {
    margin-top: 85px;
}

._white {
    background-color: white;
    height: 92px;
}

#contact-us ._section ._container {
    height: 200px;
    margin-bottom: 70px;
}
#contact-us ._section ._container  ._grid-6:nth-child(2) {
    text-align: center;
    margin-top: 20px;
}
#contact-us ._section ._container ._grid-6:nth-child(2) a {
    font-size: 25px;
}
#contact-us ._section ._container ._grid-6:nth-child(2) a:nth-child(1) {
    background-color: #E4405F;
    color: white;
    text-align: center;
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 50px;
}
#contact-us ._section ._container ._grid-6:nth-child(2) a:nth-child(2) {
    background-color: #3b5999;
    color: white;
    text-align: center;
    padding: 8px 14px;
    margin-right: 10px;
    border-radius: 50px;
}
#contact-us ._section ._container ._grid-6:nth-child(2) a:nth-child(3) {
    background-color: #55acee;
    color: white;
    text-align: center;
    padding: 10px 12px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 21px;
}
#contact-us ._section ._container ._grid-6:nth-child(2) a:nth-child(4) {
    background-color: #cd201f;
    color: white;
    text-align: center;
    padding: 11px;
    border-radius: 50px;
    font-size: 20px;
}
#contact-us ._section ._container ._pad-text {
    width: 800px;
    margin: 50px auto;
}
#contact-us ._section ._container ._pad-text ._grid-6 a {
    color: black;
}

#galery ._section:nth-child(2) {
    margin-top: 160px;
}
#galery ._section ._container ._img-grid-galery ._img-galery {
    width: 230px;
}
#galery ._section ._container ._img-grid-galery ._grid-3 {
    text-align: center;
} 
#galery ._section ._container ._img-grid-galery ._grid-3 {
    text-align: center;
} 
#galery ._section ._container ._img-grid-galery ._grid-3 {
    float: right;
}
#galery ._section ._container ._img-grid-galery {
    height: 183px;
    margin-bottom: 25px;
}
#galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
    width: 235px;
    margin-bottom: 20px;
}
#galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
    width: 235px;
    margin-bottom: 20px;
}
#galery ._section:nth-child(2) ._container ._pad-vid ._grid-6:nth-child(2) img {
    height: fit-content;
}
#galery ._section:nth-child(3) ._container {
    text-align: center;
}

#galery ._section:nth-child(3) ._container ul li .active {
    background-color: red;
}
#galery ._section:nth-child(3) ._container ul li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #9a9a9a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
#galery ._section:nth-child(3) ._container ul li:nth-child(1) a:nth-child(1) {
    padding: 9px;
    background-color: #efefef;
}
#galery ._section:nth-child(3) ._container ul li:nth-child(12) a {
    padding: 9px;
    background-color: #efefef;
}
#galery ._section:nth-child(3) ._container ul li:nth-child(13) a {
    padding: 9px;
    background-color: #efefef;
}
#galery ._section:nth-child(3) ._container .pagination a.active {
    background-color: #cd201f;
    color: white;
  }

#news ._section ._container .row {
    margin-bottom: 60px;
    margin-top: 50px;
}
#news ._section ._container .row ._grid-6 {
    padding: 0px 15px;
}
#news ._section ._container .row ._grid-6 ._height-news {
    height: 498px;
}
#news ._section ._container .row ._grid-6 ._height-news-2 {
    height: 498px;
}
#news ._section ._container .row ._grid-6 ._text-container {
    position: absolute;
    top: 220px;
    left: 80px;
    width: 100%;
    max-width: 370px;
    color: white;
}
#news ._section ._container .row ._grid-6 ._text-container ._pad-text {
    float: right;
    margin-top: 140px;
    color: white;
}
#news ._section ._container .row ._grid-6 ._text-container ._pad-text h6 {
    margin-right: 20px;
}
#news ._section ._container .row ._grid-6:nth-child(2) ._grid-6 p {
    margin: 0px;
    line-height: 1;
}
#news ._section ._container .row ._grid-6:nth-child(2) ._grid-6 ._pad-all ._pad-text {
    background-color: #5E5E5E;
    color: white;
    padding: 20px;
}
#news ._section ._container .row ._grid-6:nth-child(2) ._grid-6 ._pad-all:nth-child(1) {
    margin-bottom: 30px;
}
#news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) ._pad-text-img {
    background-color: #9A9A9A;
    padding: 10px;
}
#news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) ._pad-text-img ._text-img-container {
    height: 50px;
    margin: 10px 0px;
}
#news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) ._pad-text-img ._text-img-container ._img-container {
    position: relative;
    float: left;
    margin: 0px 5px;
}

._border-bottom {
    border-bottom: 1px solid;
}

#faq ._section ._border-all {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
#faq ._section ._container ._pad-text {
    padding: 50px 40px;
    border-bottom: 1px solid #ccc;
    margin: 0px;
}
#faq ._section ._container ._pad-text .col-sm-4 p {
    padding-top: 20px;
}
#faq ._section ._container .row .col-sm-8 input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
#faq ._section ._container .row:nth-child(3) {
    border-bottom: 0px;
}
#faq ._section ._container .row:nth-child(3) .col-sm-8 textarea {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px;
}
#faq ._section ._container .row:nth-child(3) .col-sm-12 button {
    background-color: #858585;
    color: white;
    border: 0px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
#faq ._section:nth-child(2) {
    margin: 60px auto;
}
#faq ._section ._container ._pad-text .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  #faq ._section ._container ._pad-text .active, .accordion:hover {
    background-color: #ccc;
  }
  
  #faq ._section ._container ._pad-text .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  #faq ._section ._container ._pad-text .active:after {
    content: "\2212";
  }
  
  #faq ._section ._container ._pad-text .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

#footer {
    margin: 0px auto;
    width: 1000px;
    height: 230px;
}
#footer .navbar-img {
    float: left;
    width: 35% !important;
}
#footer .navbar-img .imglogo{
    width: 100%;
    max-width: 150px;
    margin-bottom: 20px;
}
#footer ul{
    width: 65% !important;
}
#footer ul li{
    padding: 10px;
}
.fontcopy {
    text-align: center;
}
._cursor-p {
    cursor: pointer;
}
._font-ubuntu-bold {
    font-family: Ubuntu-Bold;
}
._font-ubuntu-light {
    font-family: Ubuntu-Light;
}
._font-ubuntu-medium {
    font-family: Ubuntu-Medium;
}

@media(max-width: 1200px) {
    .sosmed {
        position: fixed;
        display: grid;
        font-size: 13px;
        margin: 60px 0px 0px 45px;
        z-index: 99;
    }
    .navbar .navbar-body {
        margin: 0px auto;
        width: 900px;
        height: 100%;
    }
    .navbar .navbar-body .navbar-nav .nav-item .nav-link {
        padding: 5px;
        display: grid;
        vertical-align: middle;
    }
    ._section ._container-type-1 {
        max-width: 900px;
    } 
    ._section ._container-type-3 {
        max-width: 930px;
    }
    #home #sectionhome img {
        position: absolute;
        width: 100%;
        bottom: -21px;
    }
    #home ._section {
        margin-top: 35px;
    }
    #galery ._section ._container ._img-grid-galery ._img-galery {
        width: 200px;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
        width: 200px;
        margin-bottom: 20px;
        height: fit-content;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
        width: 200px;
        margin-bottom: 20px;
    }
    #news ._section ._container .row ._grid-6:nth-child(1) {
        padding-right: 0px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6 ._pad-all:nth-child(1) {
        margin-bottom: 42px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) {
        padding-right: 0px;
    }
    #news ._section ._container .row ._grid-6 ._text-container {
        max-width: 300px;
    }
    #location-conservation ._section ._container ._pad-text-1 {
        padding-left: 20px;
        margin-top: -15px;
    }
    #location-conservation ._section ._container ._pad-text-2 {
        padding-left: 0px;
        margin-top: -15px;
    }
    #contact-us ._section ._container ._pad-text {
        width: 800px;
        margin: 40px auto;
    }
    #galery ._section:nth-child(2) {
        margin-top: 60px;
    }
    #footer {
        margin: 0px auto;
        width: 900px;
        height: 230px;
    }
}

@media(max-width: 1024px) {
	._section ._container-type-1 {
    	max-width: 800px;
	}
	._section ._container-type-3 {
    	max-width: 825px;
	}
	#home #sectionhome img {
    	position: absolute;
    	width: 100%;
    	bottom: 52px;
	}
	#home ._section {
    	margin-top: 0px;
	}
	#location-conservation ._section ._container ._pad-text-2 {
    	padding-right: 20px;
    	margin-top: -15px;
	}
	#location-conservation ._section ._container ._grid-6 img {
		width: 100%;
	}
	#contact-us ._section ._container ._pad-text {
    	width: 700px;
    	margin: 40px auto;
	}
	#galery ._section ._container ._img-grid-galery ._img-galery {
    	width: 180px;
	}
	#galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
    	width: 180px;
    	margin-bottom: 20px;
    	height: fit-content;
	}
	#galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
    	width: 180px;
    	margin-bottom: 20px;
	}
	#news ._section ._container .row .col-sm-6 ._text-container {
    	max-width: 300px;
	}
	#news ._section ._container .row .col-sm-6:nth-child(1) {
		padding-right: 15px;
	}
	#news ._section ._container .row .col-sm-6:nth-child(2) .col-sm-6:nth-child(2) ._pad-text-img ._text-img-container ._img-container {
    	width: 60px;
	}
	#news ._section ._container .row .col-sm-6:nth-child(2) .col-sm-6 ._pad-all:nth-child(1) {
    	margin-bottom: 57px;
	}
	#news ._section ._container .row .col-sm-6:nth-child(2) {
        padding: 0px;
    }
    #news ._section ._container .row .col-sm-6:nth-child(2) .col-sm-6 {
     	padding-left: 0px
    }	
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6 ._pad-all:nth-child(1) {
        margin-bottom: 80px;
    }
	#location ._section:nth-child(4) ._container ._pad-text ._grid-5 h3 {
		display: grid;
    	vertical-align: middle;
    	padding: 0px 5px 0px 0px;	
    }
    ._white {
        background-color: white;
        height: 116px;
    }
    ._text-detail{
        height: 116px;
    }
	#footer {
    	margin: 0px auto;
    	width: 800px;
    	height: 230px;
	}
}


@media(max-width: 992px) {}
@media(max-width: 768px) {
    ._full-width {
        width: 100%;
    }
    ._half-width {
        width: 50%;
    }
    .third-width {
        width: 25%;
    }
    ._quarter-width {
        width: 33.33333333%;
    }
    ._section ._container-type-1 {
        max-width: 550px;
    }
    ._section ._container-type-2 {
        max-width: 550px;
    }
    ._section ._container-type-3 {
        max-width: 640px;
    }
    ._section ._img-slider img:nth-child(3) {
        z-index: 900;
        left: 200%;
        width: 150px;
    }
    ._section ._img-slider img:nth-child(2) {
        z-index: 700;
        left: 130%;
    }
    ._section ._img-slider img:nth-child(4) {
        z-index: 700;
        left: 290%;
    }
    ._section ._img-slider img:nth-child(1) {
        z-index: 500;
        left: 60%;
    }
    ._section ._img-slider img:nth-child(5) {
        z-index: 500;
        left: 370%;
    }
    .navbar .navbar-body {
        margin: 0px auto;
        width: 550px;
        height: 100%;
    }
    #home #sectionhome {
        position: relative;
        height: 71%;
        margin-top: 70px;
    }
    #home ._section:nth-child(4) ._container ._grid-6 {
        margin-top: 50px;
    }
    #home ._section:nth-child(4) ._container ._grid-6:nth-child(2) {
        margin-top: 80px;
        text-align: center;
    }
    #home ._section:nth-child(4) ._container ._grid-6:nth-child(2) img {
        width: 400px;
    }
    #home ._section:nth-child(5) ._container ._grid-6 img {
        width: 500px;
        margin-top: 200px;
    }
    #home ._section:nth-child(5) ._container ._grid-6:nth-child(2) {
        position: absolute;
    }
    #home ._section:nth-child(8) ._container ._grid-6:nth-child(3) .galleryvideo ._pad-vid {
        width: 100%; 
        height: 330px;
    }
    #home ._section:nth-child(8) ._container ._grid-6:nth-child(3) {
        margin-top: 400px;
    }
    #about ._section:nth-child(4) ._container {
        margin-top: 80px;
        margin-bottom: 150px;
    }
    #galery ._section ._container ._img-grid-galery {
        height: 120px;
        margin-bottom: 25px;
    }
    #galery ._section ._container ._img-grid-galery ._img-galery {
        width: 230px;
        margin-bottom: 20px;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
    	width: 230px;
    	margin-bottom: 20px;
    	height: fit-content;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) {
        text-align: right;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
        width: 230px;
        margin-bottom: 20px;
    }
    #news ._section ._container .row ._grid-6 ._height-news {
        height: 400px;
    }
    #news ._section ._container .row ._grid-6 ._text-container ._pad-text {
        float: right;
        margin-top: 40px;
        color: white;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) {
        padding: 0px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(1) {
        padding: 15px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) {
        padding: 15px 0px 15px 15px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) ._pad-text-img ._text-img-container {
        height: 50px;
        margin: 15px 0px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6 ._pad-all:nth-child(1) {
        margin-bottom: 15px;
    }
    #news ._section ._container .row ._grid-6 ._height-news {
        height: 400px;
    }
    #news ._section ._container .row ._grid-6 ._height-news-2 {
        height: 548px;
    }
    #detail-conservation ._section ._container ._grid-12 a h4:nth-child(1) {
        text-align: center;
    }
    #detail-conservation ._section ._container ._grid-12 a:nth-child(3) ._border-right {
        border-right: none;
    }
    #detail-conservation ._section ._container ._pad-all ._border-top ._text-detail {
        height: auto;
    }
    #detail-conservation ._section ._container ._pad-all ._border-top ._text-img ._grid-6 {
        margin-top: 0px;
    }
    #detail-conservation ._section ._container ._pad-all ._border-top ._text-img {
        margin-top: 70px;
        height: 250px;
    }
    #detail-conservation ._section:nth-child(2) ._container ._pad-all ._img-grid {
        position: relative;
        height: 210px;
    }
    #detail-conservation ._section:nth-child(2) ._container ._pad-all ._border-bottom {
        position: relative;
        padding: 40px 0px 150px 40px;
        border-style: solid;
        border-width: 0px 1px 1px 1px;
    }
    #location ._section:nth-child(3) ._container ._pad-text ._grid-5 h3:nth-child(1) {
        display: grid;
        vertical-align: middle;
        padding-right: 10px;
    }
    #location-conservation ._section ._container ._pad-text-2 {
        padding-right: 20px;
        margin-top: 375px;
    }
    #location-conservation ._section ._container ._pad-text-1 {
        padding-left: 0px;
        margin-top: 0px;
    }
    #location-conservation ._section:nth-child(2) ._container ._grid-6:nth-child(2) {
        position: absolute;
    }
    #location-conservation ._section:nth-child(4) ._container ._grid-6:nth-child(2) {
        position: absolute;
    }
    #contact-us ._section ._container ._pad-text {
        width: 500px;
        margin: 40px auto;
    }
    #contact-us ._section ._container ._grid-6:nth-child(2) {
        text-align: center;
        margin-top: 40px;
    }
    #contact-us ._section:nth-child(4) ._container ._pad-text {
        margin: 20px auto;
    }
    #footer {
        margin: 0px auto;
        width: 550px;
        height: 400px;
    }
    #footer .navbar-img {
        position: relative;
        margin-top: 100px;
    }
    #footer ul {
        width: 100% !important;
        position: absolute;
        max-width: 550px;
        margin: 0px auto;
    }
    #footer ul li {
        padding: 5px;
    }
}
@media(max-width: 426px) {
    ._white {
        display: none;
    }
    ._img-fakta {
        background-image: url(../images/fakta.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px;
    }
    ._full-width-small {
        width: 100%;
    }
    ._section ._container-type-1 {
        max-width: 350px;
    }
    ._section ._container-type-2 {
        max-width: 350px;
    }
    ._section ._container-type-3 {
        max-width: 375px;
    }
    ._section ._img-slider img:nth-child(3) {
        z-index: 900;
        left: 150%;
        width: 130px;
    }
    ._section ._img-slider img:nth-child(2) {
        z-index: 700;
        left: 110%;
    }
    ._section ._img-slider img:nth-child(4) {
        z-index: 700;
        left: 220%;
    }
    ._section ._img-slider img:nth-child(1) {
        z-index: 500;
        left: 60%;
    }
    ._section ._img-slider img:nth-child(5) {
        z-index: 500;
        left: 260%;
    }
    ._pad-img {
        padding: 20px 0px;
        width: 100px;
    }
    .navbar .fa-bars {
        color: black;
        font-size: 34px;
        opacity: 1;
        float: right;
        display: block !important;
    }
    .navbar .navbar-body {
        margin: 10px auto;
        width: 350px;
        height: 100%;
    }
    .navbar .navbar-body ul {
        display: none;
        margin: 50px 0 0 0;
        background-color: white;
        width: 100% !important;
        vertical-align: middle;
    }
    .navbar .navbar-body .padsmall {
        width: 100% !important;
    }
    .navbar .navbar-body .navbar-nav {
        width: 100% !important;
    }
    .navbar .navbar-body .navbar-nav .nav-item .nav-link {
        padding: 10px 30px;
        display: grid;
        vertical-align: middle;
    }
    .navbar .navbar-body .navbar-nav a i {
        padding: 7px;
        border-color: black;
        border: 1px solid;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .navbar .navbar-body .navbar-nav a {
        padding: 30px;
    }
    .fontcopy {
        width: 100%;
        max-width: 350px;
        margin: 30px auto;
    }
    #home #sectionhome {
        position: relative;
        height: 44%;
        margin-top: 70px;
    }
    #home ._section:nth-child(3) ._container ._grid-12:nth-child(2) .classificationimg .classificationimgsmall img {
        width: 60px;
    }
    #home ._section:nth-child(4) ._container ._grid-6 {
        margin-top: 60px;
    }
    #home ._section:nth-child(4) ._container ._grid-6:nth-child(2) {
        margin-top: 20px;
        text-align: center;
    }
    #home ._section:nth-child(4) ._container ._grid-6:nth-child(2) img {
        width: 300px;
    }
    #home ._section:nth-child(5) ._container ._grid-6 img {
        width: 330px;
        margin-top: 250px;
    }
    #home ._section:nth-child(5) ._container {
        margin-top: 60px;
    }
    #home ._section:nth-child(8) ._container ._grid-6 ._img-slider .item img {
        width: 300px;
    }
    #home ._section:nth-child(8) ._container ._grid-6 ._img-slider .item {
        position: absolute;
        width: 350px;
    }
    #contact-us ._section ._container ._pad-text {
        width: 300px;
        margin: 0px auto;
        text-align: center;
    }
    #contact-us ._section ._container ._grid-6:nth-child(2) {
        text-align: center;
        margin: 40px auto;
    }
    #galery ._section ._container ._img-grid-galery ._img-galery {
        width: 160px;
        margin-bottom: 20px;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
        width: 160px;
        margin-bottom: 20px;
        height: auto;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
        width: 160px;
        margin-bottom: 20px;
        height: auto;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6:nth-child(2) img {
        height: auto;
    }
    #galery ._section:nth-child(3) ._container ul li a {
        position: relative;
        float: left;
        padding: 6px 8px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(1) {
        padding: 60 0 0 15;
    }
    #news ._section ._container .row ._grid-6 ._text-container {
        max-width: 285px;
    }
    #news ._section ._container .row ._grid-6 ._text-container {
        left: 50px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) {
        padding: 60px 0px 15px 15px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) {
        padding: 60px 0px 15px 15px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) ._pad-text-img ._text-img-container {
        height: 50px;
        margin: 15px 30px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) ._pad-text-img ._text-img-container ._img-container {
        position: relative;
        float: left;
        margin: 0px 20px;
    }
    #location-conservation ._section ._container ._pad-text-2 {
        padding-right: 20px;
        margin-top: 235px;
    }
    #detail-conservation ._section:nth-child(2) ._container ._pad-all ._border-top {
        position: relative;
        padding: 40px 20px 30px 20px;
    }
    #detail-conservation ._section ._container ._pad-all ._border-top ._text-detail:nth-child(3) {
        margin-top: 220px;
    }
    #detail-conservation ._section:nth-child(2) ._container ._pad-all ._img-grid {
        position: relative;
        height: 135px;
    }
    #detail-conservation ._section:nth-child(2) ._container ._pad-all:nth-child(3) ._border-top ._text-img ._grid-6:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 25px;
    }
    #detail-conservation ._section:nth-child(2) ._container ._pad-all ._border-bottom {
        position: relative;
        padding: 40px 0px 50px 40px;
    }
    #faq ._section ._container ._pad-text .col-sm-4 p {
        padding-top: 0px;
    }
    #faq ._section ._container ._pad-text {
        padding: 20px;
        border-bottom: 1px solid #ccc;
        margin: 0px;
    }
    #faq ._section ._container .row:nth-child(3) .col-sm-12 button {
        margin-top: 12px;
    }
    #footer {
        position: relative;
        display: table;
        margin: 0px auto;
        width: 350px;
        height: auto;
    }
    #footer .navbar-img {
        width: 60% !important;
        margin-top: 0px;
    }
    #footer ul {
        width: 40% !important;
        display: table;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    #footer ul li .nav-link {
        padding: 0px;
    }
    .sosmed {
        position: relative;
        display: block;
        font-size: 20px;
        margin: 50px auto;
        z-index: 99;
        width: 100%;
        max-width: 350px;
    }
    .sosmed a:nth-child(1) {
        color: #E4405F;
        border: 1px solid;
        border-radius: 50px;
        text-align: center;
        padding: 8px 10px;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .sosmed a:nth-child(2) {
        color: #3b5999;
        border: 1px solid;
        border-radius: 50px;
        text-align: center;
        padding: 8px 12px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    .sosmed a:nth-child(3) {
        color: #55acee;
        border: 1px solid;
        border-radius: 50px;
        text-align: center;
        padding: 8px 9px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    .sosmed a:nth-child(4) {
        color: #cd201f;
        border: 1px solid;
        border-radius: 50px;
        text-align: center;
        padding: 8px;
    }
}
@media(max-width: 376px) {
    ._quarter-width-xsmall {
        width: 50%;
    }
    .navbar .navbar-body {
        width: 300px;
    }
    ._section ._container-type-1 {
        max-width: 300px;
    }
    ._section ._container-type-3 {
        max-width: 320px;
    }
    #home #sectionhome {
        position: relative;
        height: 40%;
        margin-top: 70px;
    }
    #home ._section:nth-child(8) ._container ._grid-6 ._img-slider .item {
        position: absolute;
        width: 300px;
    }
    #news ._section ._container .row ._grid-6:nth-child(1) {
        padding-right: 15px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(1) {
        padding: 60px 15px 0px 15px;
    }
    #news ._section ._container .row ._grid-6:nth-child(2) ._grid-6:nth-child(2) {
        padding: 60px 15px 0px 15px;
    }
    #galery ._section ._container ._img-grid-galery ._img-galery {
        width: 140px;
        margin-bottom: 20px;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
        width: 140px;
        margin-bottom: 20px;
        height: auto;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
        width: 140px;
        margin-bottom: 20px;
        height: auto;
    }
    #news ._section ._container .row ._grid-6 ._text-container {
        left: 20px;
    }
    #detail-conservation ._section ._container ._grid-12 a:nth-child(3) ._border-right {
        border-right: 1px solid #cccccc;
    }
    #detail-conservation ._section ._container ._grid-12 a:nth-child(2) h4 {
        border-right: none;
    }
    #detail-conservation ._section ._container ._grid-12 a:nth-child(4) h4 {
        border-right: none;
    }
    #footer {
        width: 300px;
    }
    #footer .navbar-img {
        width: 65% !important;
        margin-top: 0px;
    }
    #footer ul {
        width: 35% !important;
    }
    .sosmed {
        width: 300px;
    }
    .fontcopy {
        width: 300px;
    }
}

@media(max-width: 320px) {
    ._full-width-xsmall {
        width: 100%;
    }
    ._section ._container-type-1 {
        max-width: 250px;
    }
    ._section ._container-type-2 {
        max-width: 250px;
    }
    ._section ._img-slider img:nth-child(3) {
        z-index: 900;
        left: 100%;
        width: 100px;
    }
    ._section ._img-slider img:nth-child(2) {
        z-index: 700;
        left: 70%;
    }
    ._section ._img-slider img:nth-child(4) {
        z-index: 700;
        left: 160%;
    }
    ._section ._img-slider img:nth-child(1) {
        z-index: 500;
        left: 40%;
    }
    ._section ._img-slider img:nth-child(5) {
        z-index: 500;
        left: 190%;
    }
    ._pad-img {
        padding: 20px 0px;
        width: 70px;
    }
    .navbar .navbar-body {
        width: 250px;
    }
    .navbar .navbar-body .navbar-img {
        float: left;
        width: 40% !important;
    }
    #home #sectionhome {
        position: relative;
        height: 36%;
        margin-top: 70px;
    }
    #home ._section:nth-child(8) ._container ._grid-6 ._img-slider .item {
        position: absolute;
        width: 200px;
    }
    #home ._section:nth-child(8) ._container ._grid-6 ._img-slider .item img {
        width: 250px;
    }
    #home ._section:nth-child(4) ._container ._grid-6:nth-child(2) img {
        width: 100%;
    }
    #home ._section:nth-child(5) ._container ._grid-6 img {
        width: 100%;
        margin-top: 350px;
    }
    #about ._section:nth-child(4) ._container p:nth-child(4) {
        margin-top: 0px;
    }
    #location-conservation ._section ._container ._pad-text-2 {
        padding-right: 20px;
        margin-top: 180px;
    }
    #contact-us ._section ._container ._pad-text {
        width: 220px;
        margin: 0px auto;
        text-align: center;
    }
    #galery ._section ._container ._img-grid-galery ._img-galery {
        width: 250px;
        margin-bottom: 20px;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6 ._img-galery {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    #galery ._section:nth-child(2) ._container ._pad-vid ._grid-6 ._grid-6:nth-child(2) ._img-galery {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    #news ._section ._container .row ._grid-6 ._text-container {
        max-width: 210px;
        top: 280px;
    }
    #footer {
        width: 250px;
    }
    #footer ul {
        width: 100% !important;
        position: absolute;
    }
    #footer .navbar-img {
        width: 100% !important;
        margin-top: 300px;
    }
    .sosmed {
        width: 250px;
    }
    .fontcopy {
        width: 250px;
    }
}