@font-face {
    font-family: WorkSansBold;
    src: url(../font/WorkSans-Bold.otf);
}

@font-face {
    font-family: WorkSansLight;
    src: url(../font/WorkSans-Light.otf);
}

@font-face {
    font-family: WorkSansMedium;
    src: url(../font/WorkSans-Medium.otf);
}

@font-face {
    font-family: WorkSansRegular;
    src: url(../font/WorkSans-Regular.otf);
}

@font-face {
    font-family: WorkSansSemiBold;
    src: url(../font/WorkSans-SemiBold.otf);
}

@font-face {
    font-family: FontAwesome5FreeSolid900;
    src: url('../font/Font Awesome 5 Free-Solid-900.otf');
}

@font-face {
    font-family: GothamBold;
    src: url(../font/GothamBold.otf);
}

@font-face {
    font-family: Gotham;
    src: url('../font/Gotham-Bold.otf');
}

@font-face {
    font-family: GothamBook;
    src: url('../font/Gotham-Book.otf');
}

@font-face {
    font-family: GothamMedium;
    src: url(../font/Gotham-Medium.otf);
}

@font-face {
    font-family: OPENSANSBOLD;
    src: url('../font/OPENSANS-BOLD.ttf');
}

@font-face {
    font-family: OPENSANSLIGHT;
    src: url('../font/OPENSANS-LIGHT.ttf');
}

@font-face {
    font-family: PROXIMANOVABOLD;
    src: url('../font/PROXIMA NOVA BOLD.otf');
}

@font-face {
    font-family: PROXIMANOVAREGULAR;
    src: url('../font/PROXIMA NOVA REGULAR.otf');
}

@font-face {
    font-family: MagmaWave;
    src: url('../font/MagmaWave Caps.otf');
}

@font-face {
    font-family: Kanit-Bold;
    src: url('../font/Kanit-Bold.ttf');
}

@font-face {
    font-family: Kanit-Medium;
    src: url('../font/Kanit-Medium.ttf');
}

@font-face {
    font-family: Kanit-Regular;
    src: url('../font/Kanit-Regular.ttf');
}

@font-face {
    font-family: Kanit-Light;
    src: url('../font/Kanit-Light.ttf');
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../font/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url('../font/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../font/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: Ubuntu-Light;
    src: url('../font/Ubuntu-Light.ttf');
}

h2 {
    font-size: 28px !important;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

h3 {
    font-size: 21px !important;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

h4 {
    font-size: 16px !important;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}

p {
    font-size: 16px !important;
    line-height: 1.5em;
}

@media(max-width: 350px) {
    h2 {
        font-size: 24px !important;
    }
    h3 {
        font-size: 17px !important;
    }
    h4 {
        font-size: 16px !important;
    }
    p {
        font-size: 16px !important;
    }
}

._grid-1 {
    width: 8.33333333%;
    float: left;
}
._grid-2 {
    width: 16.66666667%;
    float: left;
}
._grid-3 {
    width: 25%;
    float: left;
}
._grid-4 {
    width: 33.33333333%;
    float: left;
}
._grid-5 {
    width: 41.66666667%;
    float: left;
}
._grid-6 {
    width: 50%;
    float: left;
}
._grid-7 {
    width: 58.33333333%;
    float: left;
}
._grid-8 {
    width: 66.66666667%;
    float: left;
}
._grid-9 {
    width: 75%;
    float: left;
}
._grid-10 {
    width: 83.33333333%;
    float: left;
}
._grid-11 {
    width: 91.66666667%;
    float: left;
}
._grid-12 {
    width: 100%;
    float: left;
}

._text-right {
    text-align: right;
}
._text-left {
    text-align: left;
}
._text-center {
    text-align: center;
}
._text-justify {
    text-align: justify;
}

._right {
    float: right;
}

._left {
    float: left;
}